<!-- CONTACT / FOOTER -->
<footer id="contact" class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Let's Connect</h5>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://dk.linkedin.com/in/mathiasflansmose"><i class="tiny material-icons">link</i> LinkedIn</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/mathiasflansmose"><i class="tiny material-icons">code</i> GitHub</a></li>
                    <li><a class="grey-text text-lighten-3" href="mailto:mathiasflansmose@gmail.com"><i class="tiny material-icons">email</i> Email Me</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style="background-color: rgba(0,0,0,0.2);">
        <div class="container">
        © {{ current_year }} Mathias Flansmose
        </div>
    </div>
</footer>
