<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noarchive">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathias Flansmose</title>
    
    <!-- 1. Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- 2. Materialize CSS Framework (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!-- 3. Google Fonts: Roboto (Standard for Material Design) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    
    <!-- 4. Custom styles in styles.css -->    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

    {% include 'hero.html' %}

    {% include 'about.html' %}

    {% include 'projects.html' %}
    
    {% include 'UnderTheHood.html' %}

    {% include 'contact.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>


